FERNET_KEY=tu_clave_fernet_aquí_32_bytes_base64
DATABASE_URL=sqlite:///./app_data.db
TESSERACT_CMD=/usr/bin/tesseract
CAMPUS_URL=https://campusvirtual.upao.edu.pe/login.aspx
CAPTCHA_URL=https://campusvirtual.upao.edu.pe/captcha.ashx
NOTAS_URL=https://campusvirtual.upao.edu.pe/Notas.aspx
